<div class="jumbotron">
	<div class="jumbotron-words">bearbnb</div>
	<div class="search form">
		<%= form_tag(listings_search_path, method: :get) do %>
	  <p>
	    <%= text_field_tag :search, params[:search] %>
	    <%= submit_tag "Search", :name => nil %>
	  </p>
		<% end %>
	</div>
</div>
 