<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @host.name %>!</h1>
    <p>
      <%= @customer.name %> has successfully made payment for your listing, <%= @reservation.listing.name %>!
    </p>
  </body>
</html>