/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	margin-top: 50px;
}

.background {
	margin-top: -9px;
	width: 100%;
	height: 8000px;
	position: fixed;
  display: none;
  background: rgba(0,0,0,0.2) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box {	
	display: none;
	margin: auto;
	text-align: center;
	position: absolute;
  top: 50%;
  left:	50%;
  transform: translate(-50%,-50%);
  padding: 20px;
  background: white;
}

.new-forms {
	display: none;
}

.new-forms input { 
	margin: 10px;
	border: 1px solid;
}

.jumbotron {
	background-image: url('jumbotron');
  height: 30em;
  background-repeat: no-repeat;	
  background-size: cover;
  background-position-x: -10em;

  @media(min-width:34em){
  	background-position-x: 0em;
  }
/*	@media(min-width:48em){}
	@media(min-width:62em){}*/
	@media(min-width:75em){
		height: 40em;
	}
}