// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
	background-image: url('jumbotron.svg');
  height: 28em;
  background-repeat: no-repeat;	
  background-size: cover;
  background-position-x: -10em;
  padding-right: 0;
  padding-left: 0;

 	@media(min-width:550px){
		background-position-x: 0;
		height: 30em;
	}
	@media(min-width:900px){
		/*background-position-y: -5em;*/
		height: 43em;
	}/*
		@media(min-width:75em){
			height: 40em;*/
}

.jumbotron-words {
	font-family: 'Comfortaa';
	margin-top: 100px;
	color: white;
	font-size: 67px;
	text-align: center;

	 @media(min-width:400px){
  	font-size: 84px;
  }
  @media(min-width:900px){
  	margin-top: 120px;
		font-size: 104px;
	}
	@media(min-width:900px){
		margin-top: 110px;
		font-size: 125px;
	}

}